body {
  box-sizing: border-box;
  padding: 0;
  background-color: #f5f7f8;
}

.header_headline {
  margin: 0;
  padding: 0;
  background-image: url(header-shapes\ mobile@2x.svg), url(header-background-mobile.png);
  background-repeat: no-repeat, no-repeat;
  background-position: center;
  width: 375px;
  height: 718px;
  flex-shrink: 0;
  fill: var(--neutrals-n-0, #fff);
}

.header {
  display: flex;
  width: 375px;
  height: 48px;
  box-sizing: border-box;
  padding: 4px 24px 4px 12px;
  align-items: flex-start;
  gap: 199px;
  flex-shrink: 0;
}

.mylogo {
  padding: 10px 12px;
  align-items: center;
  color: var(--primary-b-400, #6070ff);
  text-align: center;
  font-family: 'Poppins', sans-serif;
  font-size: 18px;
  font-style: normal;
  font-weight: 700;
  line-height: 20px;
}

.menu {
  display: flex;
  padding: 8px;
  align-items: flex-start;
  border-radius: 8px;
  width: 24px;
  height: 24px;
}

.headline {
  display: inline-flex;
  padding: 114px 24px;
  flex-direction: column;
  align-items: flex-start;
  gap: 12px;
}

.primaryText {
  display: flex;
  width: 327px;
  height: 150px;
  flex-direction: column;
  justify-content: center;
  color: var(--neutrals-n-800, #172b4d);
  font-family: 'Poppins', sans-serif;
  font-size: 40px;
  font-style: normal;
  font-weight: 700;
  line-height: 52px;
}

.description {
  width: 327px;
  height: 146px;
  color: var(--neutrals-n-600, #344563);
  font-family: 'Poppins', sans-serif;
  font-size: 16px;
  font-style: normal;
  font-weight: 400;
  line-height: 24px;
}

.connect {
  color: var(--primary-b-300, #7f8cff);
  font-family: 'Poppins', sans-serif;
  font-size: 16px;
  font-style: normal;
  font-weight: 500;
  line-height: 24px;
}

.mediaIcons {
  width: 170.167px;
  height: 20px;
}

.style {
  width: 105px;
  height: 105px;
  flex-shrink: 0;
}

.works {
  margin-top: 114px;
  gap: 88px;
  display: grid;
  grid-template-rows: 570px 614px 570px 614px;
  padding-left: 0;
}

.card {
  display: flex;
  padding: 16px;
  flex-direction: column;
  align-items: center;
  gap: 12px;
  border-radius: 16px;
  border: 1px solid var(--neutrals-n-40, #dfe1e6);
  background: var(--neutrals-n-0, #fff);
  width: 332px;
}

.image {
  width: 295px;
  height: 220px;
  border-radius: 8px;
}

.PrimaryText {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  gap: 12px;
}

.title1 {
  width: 295px;
  height: 36px;
  color: var(--neutrals-n-800, #172b4d);
  font-family: 'Poppins', sans-serif;
  font-size: 32px;
  font-style: normal;
  font-weight: 700;
  line-height: 44px;
}

.title2 {
  width: 295px;
  height: 80px;
  color: var(--neutrals-n-800, #172b4d);
  font-family: 'Poppins', sans-serif;
  font-size: 32px;
  font-style: normal;
  font-weight: 700;
  line-height: 44px;
}

.frame {
  display: flex;
  align-items: center;
  gap: 12px;
}

.text {
  color: var(--neutrals-n-600, #344563);
  font-family: 'Poppins', sans-serif;
  font-size: 13px;
  font-style: normal;
  font-weight: 600;
  line-height: 16px;
}

.counter {
  fill: var(--neutrals-n-50, #c1c7d0);
  size: 8px;
}

.role {
  color: var(--neutrals-n-100, #7a869a);
  font-family: 'Poppins', sans-serif;
  font-size: 13px;
  font-style: normal;
  font-weight: 600;
  line-height: 16px;
}

.year {
  color: var(--neutrals-n-100, #7a869a);
  font-family: 'Poppins', sans-serif;
  font-size: 13px;
  font-style: normal;
  font-weight: 600;
  line-height: 16px;
}

.txt {
  width: 295px;
  height: 76px;
  color: var(--neutrals-n-600, #344563);
  font-family: 'Poppins', sans-serif;
  font-size: 15px;
  font-style: normal;
  font-weight: 400;
  line-height: 24px;
}

.tags {
  width: 332px;
  height: 24px;
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  gap: 8px;
}

.tag {
  display: flex;
  padding: 4px 12px;
  align-items: center;
  border-radius: 8px;
  color: var(--primary-b-400, #6070ff);
  background: var(--primary-b-50, #ebebff);
  font-family: 'Poppins', sans-serif;
  font-size: 12px;
  font-style: normal;
  font-weight: 500;
  line-height: 16px;
  letter-spacing: 0.36px;
}

.action {
  display: flex;
  padding: 12px 169px 12px 0;
  align-items: center;
}

.projectBtn {
  display: flex;
  padding: 12px;
  align-items: center;
  gap: 10px;
  border-radius: 8px;
  border: 1px solid var(--primary-b-400, #6070ff);
  color: var(--primary-b-500, #396df2);
  text-align: center;
  font-family: 'Poppins', sans-serif;
  font-size: 17px;
  font-style: normal;
  font-weight: 500;
  line-height: 24px;
  letter-spacing: 0.51px;
}

.AboutMyself {
  margin-top: 114px;
  background-image: url(Base\ about\ my\ self.png);
  background-repeat: no-repeat;
  background-position: centre top;
  display: inline-flex;
  padding: 114px 24px;
  flex-direction: column;
  align-items: center;
  gap: 24px;
  padding-left: 0;
}

.top {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  gap: 12px;
}

.PrimeTxt {
  display: flex;
  width: 327px;
  height: 35px;
  flex-direction: column;
  justify-content: center;
  color: var(--neutrals-n-800, #172b4d);
  font-family: 'Poppins', sans-serif;
  font-size: 40px;
  font-style: normal;
  font-weight: 700;
  line-height: 52px;
}

.describeTxt {
  width: 327px;
  height: 147px;
  color: var(--neutrals-n-600, #344563);
  font-family: 'Poppins', sans-serif;
  font-size: 16px;
  font-style: normal;
  font-weight: 400;
  line-height: 24px;
}

.socialMedia {
  font-family: 'Poppins', sans-serif;
  font-size: 16px;
  font-style: normal;
  font-weight: 500;
  line-height: 24px;
  color: var(--primary-b-300, #7f8cff);
}

.socialIcons {
  display: flex;
  align-items: center;
}

.socialIcons img {
  padding: 8px;
}

.resumeBtn {
  display: flex;
  padding: 12px;
  align-items: center;
  gap: 10px;
  border-radius: 8px;
  border: 1px solid var(--primary-b-400, #6070ff);
  color: var(--primary-b-500, #396df2);
  text-align: center;
  font-family: 'Poppins', sans-serif;
  font-size: 17px;
  font-style: normal;
  font-weight: 500;
  line-height: 24px;
  letter-spacing: 0.51px;
}

.skillList {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.LanguageFrame {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
}

.skill {
  display: flex;
  padding: 16px 26px 16px 12px;
  align-items: center;
  gap: 12px;
}

.skilltext {
  width: 237px;
  color: #000;
  font-family: 'Poppins', sans-serif;
  font-size: 20px;
  font-style: normal;
  font-weight: 500;
  line-height: 24px;
}

.skillicon {
  display: flex;
  padding: 8px;
  align-items: flex-start;
  border-radius: 8px;
  width: 24px;
  height: 24px;
}

.languagelist {
  display: flex;
  padding: 12px;
  flex-direction: column;
  align-items: center;
  gap: 12px;
}

.langbox {
  display: flex;
  height: 66.719px;
  padding: 9px 12px 9.716px 12px;
  justify-content: center;
  align-items: center;
  gap: 16px;
  border-radius: 8px;
  background: var(--neutrals-n-10, #f7f7f9);
}

.langimg {
  width: 48px;
  height: 48px;
  flex-shrink: 0;
  border-radius: 48px;
  border: 1px solid var(--neutrals-n-0, #fcfcfc);
}

.langtxt {
  display: flex;
  width: 215px;
  height: 24px;
  flex-direction: column;
  justify-content: center;
  flex-shrink: 0;
  color: var(--neutrals-n-700, #253858);
  font-family: 'Poppins', sans-serif;
  font-size: 15px;
  font-style: normal;
  font-weight: 500;
  line-height: 20px;
}

.seperator {
  width: 327px;
  height: 1px;
  flex-shrink: 0;
  background: var(--neutrals-n-40, #dfe1e6);
}

.formclass {
  background-image: url(contact\ form\ shapes-mobile.svg), url(Contact\ me.png);
  background-repeat: no-repeat, no-repeat;
  background-position: right top, top;
  display: inline-flex;
  padding: 114px 24px;
  flex-direction: column;
  justify-content: center;
  gap: 24px;
  padding-left: 0;
  height: 550px;
  margin-left: -10px;
  margin-bottom: -10px;
  margin-top: 114px;
  }
  
  .top{
  display: flex;
  flex-direction: column;
  justify-content: center;
  gap: 12px;
  margin-left: 24px;
  }
  
  .contactMe {
  display: flex;
  width: 327px;
  height: 56px;
  flex-direction: column;
  justify-content: center;
  flex-shrink: 0;
  color: var(--neutrals-n-0, #FFF);
  text-align: center;
  font-family: 'Poppins', sans-serif;
  font-size: 40px;
  font-style: normal;
  font-weight: 700;
  line-height: 52px;
  }
  
  .Disctxt {
  width: 327px;
  height: 137px;
  flex-shrink: 0;
  color: var(--primary-b-50, #EBEBFF);
  text-align: center;
  font-family: 'Poppins', sans-serif;
  font-size: 20px;
  font-style: normal;
  font-weight: 400;
  line-height: 28px; 
  }
  
  input:focus {
  outline: none;
  }
  
  textarea:focus {
  outline: none;
  }
  
  .usernamediv {
  margin-left: 24px;
  width: 327px;
  height: 48px;
  flex-shrink: 0;
  display: flex;
  align-items: center;
  align-content: center;
  border-radius: 8px;
  border: 1px solid var(--base-100, #CFD8DC);
  background: var(--mono-white, #FFF);
  }
  
  .username {
  border: 0px;
  border-color: #FFF;
  margin-left: 16px;
  display: flex;
  width: 273px;
  height: 18px;
  flex-direction: column;
  justify-content: center;
  flex-shrink: 0;
  color: var(--neutral-n-800, #172B4D);
  font-family: 'Poppins', sans-serif;
  font-size: 17px;
  font-style: normal;
  font-weight: 400;
  line-height: 20px;
  }